<!-- tweaked from: 
    springhow.com/this-application-has-no-explicit-mapping-for-error
-->
<!doctype html>
<html lang="en">
<head>
  <title th:text="ERROR"></title>
</head>
<body>
    <h1>Error encountered...</h1>
    <table border="1">
    <tr><td>Date</td><td th:text="${timestamp}"></td></tr>
    <tr><td>Error</td><td th:text="${error}"></td></tr>
    <tr><td>Status Code</td><td th:text="${status}"></td></tr>
    <tr><td>Message</td><td th:text="${message}"></td></tr>
    <!--
    <tr><td>Exception</td><td th:text="${exception}"></td></tr>
    <tr><td>Stacktrace</td><td><pre th:text="${trace}"></pre></td></tr>
    <tr><td>Binding Errors</td><td th:text="${errors}"></td></tr>
    -->
    </table>
</body>
</html>
<!--
    to enable the exception, stacktrace, and bind details you need to add:
    server.error.include-exception=true
    server.error.include-stacktrace=always
    server.error.include-binding-errors=always
    to the `application.properties' file
-->
